<a href="https://colab.research.google.com/github/ramyasnl/Submission_Projects/blob/main/Python_Projects/SalaryDescending.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Reaading the file and converting it into DataFrame

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/ramyasnl/Dataforprojects/main/Salaries2011_web.csv")
df.head()

        Last      First                   Position  Salary  Hired
0        Lew      Allen         City Administrator  295000   2004
1    Sessoms      Allen                  President  295000   2008
2  HENDERSON  KAYATANYA  Superintendent Of Schools  275000   2007
3     Lanier      Cathy                      Chief  230743   1990
4      Arons    Bernard      Medical Officer Psych  206000   2008

# Checking the last dataframe

In [3]:
df.tail()

                  Last    First           Position  Salary  Hired
33419          Johnson   Joseph    Work Study Aide       8   2010
33420           Fowler  Marxcus    Work Study Aide       8   2010
33421  Tinoco-Lluveras   Raquel  Adjunct Professor       8   2010
33422         Williams     Gina    Work Study Aide       8   2008
33423          Bridges  Lashawn    Work Study Aide       7   2010

# Making a copy of the dataframe

In [5]:
df1=df

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33424 entries, 0 to 33423
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Last      33423 non-null  object
 1   First     33424 non-null  object
 2   Position  33424 non-null  object
 3   Salary    33424 non-null  int64
 4   Hired     33424 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.3+ MB

##Sorting the Data in Descending Order

In [7]:
newdf =df1.sort_values(by=['Salary'], ascending=[False])
newdf.head()

        Last      First                   Position  Salary  Hired
0        Lew      Allen         City Administrator  295000   2004
1    Sessoms      Allen                  President  295000   2008
2  HENDERSON  KAYATANYA  Superintendent Of Schools  275000   2007
3     Lanier      Cathy                      Chief  230743   1990
4      Arons    Bernard      Medical Officer Psych  206000   2008

## Loading the Dataframe to CSV

In [8]:
newdf.to_csv("newsalary1.csv")
#Export as download if in colab
from google.colab import files
# dfPivotSubdirURL.to_csv(brandname + '-subdirs_from_sitemap.csv', sep='\t')
files.download('newsalary1.csv')